<!DOCTYPE html>
<html>
  <head>
    <title>{{this.title}}</title>
  </head>
  <body>
    <h1>{{this.title}}</h1>
    <div class="recipe-details">
      <div class="recipe-image">
        <img src="{{this.image}}" alt="{{this.title}}">
      </div>
      <div class="recipe-info">
        <h2>Ingredients</h2>
        <ul>
          {{#each ingredients}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <h2>Level</h2>
        <p>{{this.level}}</p>
        {{#if additionalInfo}}
          <h2>Additional Information</h2>
          <p>{{additionalInfo}}</p>
        {{/if}}
        <h2>Cuisine</h2>
        <p>{{this.cuisine}}</p>
        <h2>Meal Type</h2>
        <p>{{this.dishType}}</p>
        <h2>Duration</h2>
        <p>{{this.duration}}</p>
        <h2>Creater</h2>
        <p>{{this.creator}}</p>
      </div>
    </div>
  </body>
</html>
